{
  "extends": "eslint:recommended",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true
  }
}
